<%- include("../partials/header") %>
<div class="container">
	<div class="row">
		<h1 style="text-align: center; margin: 25px auto">Naujos aikštelės kūrimas</h1>
	</div>
		<div style="width:30%; margin: 0 auto;">
			<form action="/courts" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<label>Pavadinimas</label>
					<input class="form-control" type="text" name="court[name]" placeholder="Pavadinimas" required>
				</div>
				<div class="form-group">
					<label for="image">Nuotrauka</label>
					<input class="" type="file" id="image" accept="image/*" required name="image">
				</div>
				<div class="form-group">
					<label>Kaina/valanda (eur.)</label>
					<input class="form-control" type="number" name="court[price]" placeholder="Kaina/valanda" min="0.01" step="0.01" required>
				</div>
				<div class="form-group">
					<label>Aprašymas</label>
					<input class="form-control" type="text" name="court[description]" placeholder="Aprašymas" required>
				</div>
				<div class="form-group">
					<label>Telefono numeris</label>
					<input class="form-control" type="number" name="court[telnumber]" placeholder="Telefono numeris" required>
				</div>
				<div class="form-group">
					<label>Orginalus aikštelės puslapio URL</label>
<input class="form-control" type="text" name="court[mainURL]" placeholder="www.jūsų_tinklapio_URL.lt">
				</div>
				<div class="form-group">
					<label>Miestas</label>
					<input class="form-control" type="text" name="court[city]" placeholder="Miestas" required>
				</div>
				<div class="form-group">
					<label>Gatvė</label>
					<input class="form-control" type="text" name="court[street]" placeholder="Gatvė" required>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Paskelbti!</button>	
				</div>
			</form>
			<a href="/courts">Atgal!</a>
		</div>	
</div>
<%- include("../partials/footer") %>