<%- include("../partials/header") %>
<div class="container">
	<div class="row">
		<h1 style="text-align: center; margin: 25px auto">Naujos aikštelės kūrimas</h1>
	</div>
		<div style="width:30%; margin: 0 auto;">
			<form action="/courts" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="name" placeholder="Pavadinimas">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="image" placeholder="Nuotraukos URL adresas">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="price" placeholder="Kaina/valanda" min="0.01" step="0.01">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="description" placeholder="description">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" name="telnumber" placeholder="Telefono numeris">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="city" placeholder="Miestas">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" name="street" placeholder="Gatvė">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Paskelbti!</button>	
				</div>
			</form>
			<a href="/courts">Atgal!</a>
		</div>	
</div>
<%- include("../partials/footer") %>